{% extends 'base.html' %}

{% load static %}

{% block 'main' %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y" style="padding-bottom: 32vh;">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4 text-center">
                <h4 class="card-title">OTP Verification</h4>
            </header>
            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col form-group">
                        <label>Enter OTP</label>
                        <input type="text" class="form-control" placeholder="enter otp">
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">Verify Mobile No</button>
                </div> <!-- form-group// -->

            </form>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Great!!!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Email Id Verified 
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </article><!-- card-body.// -->
    </div> <!-- card .// -->
    <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock 'main' %}