{% extends 'base.html' %}

{% load static %}

{% block 'main' %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y" style="padding-bottom: 32vh;">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px; ">
        <article class="card-body">
            <header class="mb-4 text-center">
                <h4 class="card-title">We have sent an email to you</h4>
            </header>
            <div class="card-text text-center">
                Please check your mail
            </div>
        </article><!-- card-body.// -->
    </div> <!-- card .// -->
    <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock 'main' %}