{% extends 'base.html' %}

{% load static %}

{% block 'main' %}
<section class="section-content padding-y ">
	<div class="container">

		<!-- ============================ COMPONENT 2 ================================= -->
		<div class="row d-flex justify-content-center " style="padding-bottom: 32vh;">

			<aside class="col-md-4">
				<div class="card">
					<div class="card-body">
						<dl class="dlist-align">
							<dt>Total price:</dt>
							<dd class="text-right"></dd>
						</dl>
						<!-- <dl class="dlist-align">
							<dt>Tax:</dt>
							<dd class="text-right"> $10.00</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Total:</dt>
							<dd class="text-right text-dark b"><strong>$59.97</strong></dd>
						</dl> -->
						<hr>

						<a href="/place_order" class="btn btn-primary btn-block mt-2"> Pay </a>

					</div> <!-- card-body.// -->
				</div> <!-- card.// -->
			</aside> <!-- col.// -->
		</div> <!-- row.// -->

		<!-- ============================ COMPONENT 2 END//  ================================= -->




	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock 'main' %}